<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007448672439-c7hs8ktavbmnrn72eaoc8gk7n1ce73ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007448672439-c7hs8ktavbmnrn72eaoc8gk7n1ce73ci</string>
	<key>API_KEY</key>
	<string>AIzaSyAMkMPYWveFS2plrEBuaGjA5ysobPHVI0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1007448672439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ffFirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-93bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-93bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007448672439:ios:feb56bd56e5bda6895e532</string>
</dict>
</plist>